<template>
	<div class="total-time">
      <p>{{ period | upperCaseFirstLetter }}</p>
      <h3>{{ time_total }}</h3>
	</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'total-time',

  props: {
    period: {
      type: String,
      default: 'today'
    }
  },

  created() {
    axios.get('/api/time/' + this.period).then( ({ data }) => this.time_total = data);
  },

  data () {
    return {
    	time_total: null
    }
  },

  methods: {

  },

  filters: {
    upperCaseFirstLetter(string) {
      const letters = string.split('');
      letters[0] = letters[0].toUpperCase();
      return letters.join('');
    }
  }
}
</script>

<style lang="scss" scoped>
.total-time {
  background: white;
  padding: 15px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.07);
  min-width: 300px;

  h3 {
    margin: 0px;
  }
}
</style>