<template>
	<div class="create-list-form">
    	<div class="create-button" v-if="!createMode">
			<button class="trigger-create" @click="toggleCreateMode">Add new list..</button>
    	</div>

    	<div class="create-form" v-if="createMode">
			<input class="form-control" v-model="listName" type="text" @keypress.enter="createList" placeholder="Enter a name for the list...">
			<button class="btn" @click="createList">Add list</button>
    	</div>
	</div>
</template>

<script>
export default {
  name: 'create-list-form',

  props: {
  	projectId: {
  		type: String
  	}
  },

  data () {
    return {
    	createMode: false,
    	listName: ""
    }
  },

  methods: {
  	toggleCreateMode() {
  		this.createMode = !this.createMode;
  	},

  	createList() {
  		if (this.listName === "") {
  			return;
  		}

  		this.$store.dispatch('createList', {
  			title: this.listName,
  			project_id: Number(this.projectId)
  		});

  		this.toggleCreateMode();
  		this.listName = "";
  	},
  },
}
</script>

<style lang="scss" scoped>
.create-list-form {
	margin-top: 48px;
	margin-right: 20px;
	width: 349.77px;
	display: inline-block;
	white-space: normal;

	.create-button {
		width: 100%;

		.trigger-create {
			width: 100%;
			background: $grey-very-light;
			border: none;
			border-radius: 3px;
			padding: 9px 0px;
			font-weight: 600;
			color: $grey;
		}
	}

	.create-form {
		width: 100%;
		background: white;
		border-radius: 5px;
		padding: 15px;

		input {
			width: 100%;
			margin-left: 50%;
			transform: translateX(-50%);
		}

		button {
			margin-top: 5px;
			background-color: $secondary;
			border: none;
			color: white;
		}
	}
}
</style>