<template>
	<b-modal id="moveTaskModal" title="Transfer the task to another Project">
		<div class="move-task-form">
			<label>Select a which Project to transfer it to</label>
			<v-select ref="focusThis" label="name" :options="projects" @input="projectSelected($event)"></v-select>

			<label>Select a list inside that project</label>
			<v-select label="title" :options="lists" @input="listSelected($event)"></v-select>
		</div>

		<div slot="modal-footer" class="w-100">
			<button class="btn btn-success" @click="moveTask">Transfer task</button>
		</div>
	</b-modal>
</template>

<script>
import axios from 'axios';
import vSelect from 'vue-select';

export default {
  name: 'move-task-form',

  components: {
  	vSelect,
  },

  props: {
  	task: {
  		type: Object
  	}
  },

  created() {
	this.$store.dispatch('fetchProjects');
  },

  computed: {
  	projects() {
  		return this.$store.state.projects;
  	}
  },

  data () {
    return {
    	lists: [],
    	list_id: null,
    }
  },

  methods: {
  	async projectSelected(project) {
  		const { data } = await axios.get(`/api/projects/${project.id}/lists`);
  		this.lists = data;
  	},

  	async listSelected(list) {
  		this.list_id = list.id;
  	},

  	async moveTask() {
  		const { status } = await axios.post(`/api/tasks/${this.task.id}`, {
  			parent_list_id: this.list_id
  		});

  		if (status !== 200) {
  			return;
  		}

  		this.$root.$emit('bv::hide::modal','moveTaskModal');
  		this.$store.commit('removeTask', {...this.task});
  		this.$store.dispatch('closeSlideIn');
  	},
  },
}
</script>

<style lang="scss" scoped>
</style>