<template>
	<div class="sub-tasks">
    <h5>Subtasks</h5>

    <ul v-if="task">
      <task-form class="mb-3" :parent="task" parent-type="task" look="light" />

      <li class="sub-task" v-for="subTask in subtasks" :key="subTask.id">
        <div class="left">
          <checkbox :checked="subTask.closed" @change="toggleStatus(subTask)" class="p-default p-curve"></checkbox>
        </div>
        <div class="middle">
          <editable-text :value="subTask.name" @submit="updateTask(subTask, $event)" eventType="submit"></editable-text>
        </div>
        <div class="right">
          <span title="Start a tracker on this Task." @click="startTracking(subTask)">
            <icon class="track" icon="stopwatch" />
          </span>
          <span title="Transform this task to a full Task and sever the connection to its parent Task.">
            <icon icon="sign-out-alt" />
          </span>
          <span title="Delete this Sub-Task permanently." @click="deleteTask(subTask)">
            <icon class="delete" icon="times" />
          </span>
        </div>
      </li>
    </ul>
	</div>
</template>

<script>
import taskForm from './TaskForm.vue';
import editableText from '../EditableText.vue';

export default {
  name: 'sub-tasks',

  components: {
    taskForm,
    editableText
  },

  props: {
    subtasks: {
      type: Array,
      default: null
    }
  },

  computed: {
    task(){
      return this.$store.state.taskBeingEdited;
    },
  },

  data () {
    return {

    }
  },

  methods: {
    toggleStatus(task) {
      this.$store.dispatch('toggleSubTaskStatus', task);
    },

    deleteTask(task) {
      this.$store.dispatch('deleteTask', task);
    },

    updateTask(task, newValue) {
      if (!newValue) {
        return;
      }

      task.name = newValue;

      const updatedTask = {
        id: task.id,
        name: task.name
      }

      this.$store.dispatch('updateTask', updatedTask);
    },

    startTracking(task) {
      this.$store.dispatch('startTimer', task.id);
    },
  },


}
</script>

<style lang="scss" scoped>
  .sub-tasks {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;

    h5 {
      margin: 10px 0px;
      color: grey;
    }

    ul {
      list-style: none;
      padding-left: 0px;

      li.sub-task {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #e5e5e5;
        background-color: white;
        margin-bottom: 7px;
        display: flex;

        .middle {
          flex-grow: 1;
        }

        .right {
          display: flex;
          flex-direction: row;
          padding: 0px 5px;
          margin-left: auto;

          svg {
            color: grey;
            margin-left: 7px;

            &:hover {
              color: black;
            }
          }

          .delete:hover {
            color: $red;
          }

          .track:hover {
            color: $green;
          }
        }
      }
    }
  }
</style>