<template>
	<li class="task" @dblclick="editTask">
		<div class="left-section">
			<div class="upper-left">
				<checkbox :checked="task.closed" @change="toggleStatus" class="p-default p-curve"></checkbox>
			</div>

			<div class="lower-left">
				<!-- <div class="color-tag"></div> -->
			</div>
		</div>

		<div class="right-section">
			<div class="upper-right">
				<span @click="editTask">{{task.name}}</span>
			</div>

			<div class="lower-right">
				<div class="properties">
					<span v-if="task.sub_tasks.length" title="This Task contains Sub-Tasks.">
						<icon icon="list-ul" size="xs" />
					</span>
				</div>
				<div class="users">

				</div>
			</div>
		</div>
	</li>
</template>

<script>

export default {
  name: 'task',


  props: {
  	task: {
  		type: Object,
  		default: () => ({name: ""}),
  	}
  },

  data () {
    return {

    }
  },

  methods: {
  	toggleStatus(){
  		this.$store.dispatch('toggleTaskStatus', this.task);
  	},

  	editTask(){
  		this.$store.dispatch('selectTaskToEdit', this.task);
  	},
  }
}
</script>

<style lang="scss" scoped>
	.task {
		display: flex;
		min-height: 65px;

		.left-section {
			width: 55px;
			display: flex;
			flex-direction: column;

			.lower-left {
				align-self: flex-start;
				margin-top: auto;
				width: 100%;
			}

			.upper-left {
				align-self: flex-start;
			}

			.color-tag {
				width: 30px;
				height: 12px;
				border-radius: 5px;
				background-color: $secondary;
			}
		}

		.right-section {
			flex-grow: 1;
			flex-direction: column;

			.lower-right {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-top: 10px;

				.properties {
					color: $grey-light;
					height: 18px;
				}

				.users {

				}
			}

			.upper-right {
				align-self: flex-start;
			}
		}
	}
</style>