<template>
	<div class="task-edit-form">
		<div class="task-edit-form">
			<label>Task name</label>
			<input v-model="currentTask.name" type="text" class="form-control" @keypress.enter="updateTask">

			<label class="mt-3">Description</label>
			<textarea v-model="currentTask.description" class="form-control" rows="3" @keypress.shift.enter.prevent="updateTask"></textarea>

			<label class="mt-3">Closed</label>
			<input class="ml-3" type="checkbox" name="" v-model="currentTask.closed" @change="updateTask">

      <div class="users-wrapper" v-if="currentTask.users.length">
        <label class="mt-3">Users</label>
        <v-select v-if="showAddUserForm" class="mt-1 mb-3" label="name" :options="users" @input="addUser($event)" resetOnOptionsChange></v-select>
        <div class="users">

          <div class="user" v-for="user in currentTask.users">
            <div class="left">
              {{user.name}}
            </div>
            <div class="right">
              <icon icon="times" @click="removeUser(user.id)"></icon>
            </div>
          </div>

          <div class="user">
            <div class="">
              <icon icon="plus" @click="toggleAddUser"></icon>
            </div>
          </div>

        </div>
      </div>

			<div class="buttons">
        <div class="right-buttons d-flex mt-3 mb-3">
          <button class="btn btn-warning mr-3" @click="startTracking">Start tracking</button>
          <button class="btn btn-dark mr-3" v-b-modal.moveTaskModal>Transfer Task</button>
          <button class="btn btn-danger" @click="deleteTask">Delete</button>
        </div>

        <button class="btn btn-primary mt-3 mb-3" @click="updateTask">Save</button>
      </div>

      <sub-tasks :subtasks="task.sub_tasks" />
		</div>


      <move-task-form :task="task"></move-task-form>
	</div>
</template>

<script>
import axios from 'axios';
import subTasks from './SubTasks.vue';
import moveTaskForm from './MoveTaskForm.vue';
import vSelect from 'vue-select';

export default {
  name: 'task-edit-form',

  components: {
    subTasks,
    moveTaskForm,
    vSelect
  },

  data () {
    return {
    	currentTask: {},
      showAddUserForm: false,
      users: []
    }
  },

  created() {
  	this.snapshotTaskData(this.task);
    axios.get('/api/users').then(({data}) => this.users = data);

  },

  computed: {
  	task(){
  		return this.$store.state.taskBeingEdited;
  	},
  },

  methods: {
    startTracking() {
      this.$store.dispatch('startTimer', this.task.id);
    },

    async removeUser(user_id) {
      const { data } = await axios.post(`/api/tasks/${this.currentTask.id}/users/${user_id}/detach`);
      await this.$store.commit('updateTask', data);
    },

    async addUser(user) {
      const { data } = await axios.post(`/api/tasks/${this.currentTask.id}/users/${user.id}/attach`);
      await this.$store.commit('updateTask', data);
      this.toggleAddUser();
    },

    toggleAddUser() {
      this.showAddUserForm = !this.showAddUserForm;
    },

  	updateTask(){
      const payload = {
        'id': this.currentTask.id,
        'name': this.currentTask.name,
        'description': this.currentTask.description,
        'closed': this.currentTask.closed,
      }

  		this.$store.dispatch('updateTask', payload);
      this.$store.dispatch('closeSlideIn');
  	},

    snapshotTaskData(newTask) {
      const task = Object.assign({}, newTask); // Clone object to servere all connections
      this.currentTask = task;
    },

  	async deleteTask() {
      const confirmation = await swal({
        title: "Are you sure?",
        text: "The task will be permanently and irreversibly deleted.",
        icon: "warning",
        buttons: {
          cancel: "No!",
          confirm: "Yes, delete it",
        },
      })

      if (!confirmation) {
        return;
      }

      this.$store.dispatch('deleteTask', this.currentTask);
      this.$store.dispatch('closeSlideIn');
  	},

  },

  watch: {
    task(newTask) {
      this.snapshotTaskData(newTask);
    }
  },
}
</script>

<style lang="scss" scoped>
.task-edit-form {

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }

  .users-wrapper {

    .users {
      display: flex;

      .user {
        display: flex;
        margin-right: 10px;
        padding: 5px 15px;
        min-width: 50px;
        background: whitesmoke;

        .right svg {
          margin-left: 10px;
        }
      }
    }
  }
}
</style>