<template>
	<div class="task-list-container">

		<editable-text :value="list.title" @submit="updateTitle(list.id, $event)" class="list-title" eventType="submit"  noStyle/>

		<ul class="task-list">
			<div class="header">
				<icon icon="ellipsis-h" @click="toggleDropdown" />
				<div class="dropdown" v-show="showDropdown">
					<span class="option" @click="deleteList">Delete list</span>
				</div>
			</div>

			<task-form class="taskform" :parent="list" look="dark" />

			<draggable class="tasks" :value='list.tasks' @input="updateTasks($event, list.id)" :options="{group:'tasks'}">
				<task
					:task="task"
					:key="task.id"
					v-for="task of list.tasks"
				></task>
			</draggable>
		</ul>

	</div>
</template>

<script>
import draggable from 'vuedraggable';
import editableText from '../EditableText.vue';
import task from './Task.vue';
import taskForm from './TaskForm.vue';


export default {
	props: {
	  list: {
	    type: Object,
		default: null
	  }
	},

  components: {
  	editableText,
	taskForm,
	draggable,
  	task,
  },

  data () {
    return {
    	showDropdown: false
    }
  },

	methods: {
		updateTasks(tasks, listId) {
			this.$store.dispatch('updateTasks', {
				tasks,
				listId
			});
		},

		updateTitle(id, input){
			this.$store.dispatch('updateListTitle', {id, input});
		},

		methodToRunOnSelect(payload) {
        	this.object = payload;
        },

        toggleDropdown() {
        	this.showDropdown = !this.showDropdown;
        },

        async deleteList() {
        	const confirmation = await swal({
        	  title: "Are you sure?",
        	  text: "The list and all the included tasks will be permanently and irreversibly deleted.",
        	  icon: "warning",
        	  buttons: {
        	    cancel: "No!",
        	    confirm: "Yes, delete the list and the tasks",
        	  },
        	})

        	if (!confirmation) {
        	  return;
        	}

        	this.$store.dispatch('deleteList', this.list);
        	this.toggleDropdown();
        },
	}
}
</script>

<style lang="scss" scoped>
.task-list-container {
	margin-right: 20px;
	width: 349.77px;
	display: inline-block;
	white-space: normal;
	vertical-align: top;

	ul.task-list {
		position: relative;
		list-style: none;
		padding: 10px 15px 20px 15px;
		background-color: white;
		border-radius: 10px;
		box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.03);

		.tasks {
			max-height: 70vh;
			min-height: 20px;
    		overflow-y: auto;
		}

		.header {
			color: $grey-light;
			text-align: right;

			.dropdown {
				position: absolute;
				right: 0px;
				padding: 10px 20px;
				background: white;
				box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
				min-width: 100px;
				text-align: left;

				.option {
					&:hover {
						color: $secondary;
					}
				}
			}

			svg {

				&:hover {
					color: black;
				}
			}
		}

		.taskform {
			margin-bottom: 10px;
		}

		li.task {
			border-radius: 5px;
			margin-bottom: 8px;
			font-size: 15px;
			border: 1px solid #d6d6d6;
			padding: 6px 8px;
			color: $grey-medium;
		}
	}
}

.list-title {
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 500;
	font-size: 24px;
	line-height: 17px;
	color: $grey-medium;

	input {
		height: auto;
	    padding: 0;
	    font-size: 24px;
	    line-height: 1.6;
	    border: none !important;
	    color: blue;
	    padding-left: 7px;
	    border-radius: 5px;
	    box-shadow: 1px 1px 1px rgba(0,0,245,0.06);
	}
}
</style>

<style lang="scss">
.list-title input {
	height: auto;
    padding: 0;
	font-size: 21px;
	line-height: 1.6;
    border: none !important;
    color: $secondary;
    padding-left: 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,245,0.06);
}
</style>