<template>
	<li class="task-form">
		<input :class="(look === 'light') ? 'light' : 'dark'" type="text" v-model="newTask.name" placeholder="Add task.." @keypress.enter="createTask">
	</li>
</template>

<script>
export default {
  name: 'task-form',

  props: {
  	parent: {
  		type: Object,
  		default: null
  	},

    parentType: {
      type: String,
      default: 'list'
    },

    look: {
      type: String,
      default: 'default'
    },
  },

  created() {
  	this.setDefaultData();
  },

  data () {
    return {
    	newTask: {
  			name: "",
        description: "",
  			closed: false,
        parent_list_id: null,
  			parent_task_id: null,
  			sort_order: 0,
        sub_tasks: []
    	}
    }
  },

  methods: {
  	createTask(){
      if (this.newTask.name === "") {
        return;
      }

  		// Sever the connection by cloning the task data before storing it
  		const task = Object.assign({}, this.newTask);

  		if (this.parentType === 'task') {
        this.$store.dispatch('createSubTask', task);
      } else {
        this.$store.dispatch('createTask', task);
      }

  		this.setDefaultData(); // Reset Data
  	},

  	setDefaultData() {
      // Determine sort_order and set parent id
      if (this.parentType === 'task') {
        this.newTask.sort_order = (this.parent.sub_tasks) ? this.parent.sub_tasks.length + 1 : 0;
        this.newTask.parent_task_id = this.parent.id;
      } else {
  		  this.newTask.sort_order = (this.parent.tasks) ? this.parent.tasks.length + 1 : 0;
        this.newTask.parent_list_id = this.parent.id;
      }

  		this.newTask.name = "";
  	},
  }
}
</script>

<style lang="scss" scoped>
	input {
		width: 100%;
		padding: 6px;
    border-radius: 4px;
    border: 1px solid #f3f3f3;
	}

  .dark {
    background-color: hsla(0, 0%, 97%, 1);
  }

  .light {
    background-color: hsla(0, 0%, 99%, 1);
  }
</style>