<template>
   <div @dblclick="toggleEdit">
      <input
        v-if="editMode"
        :class="{ 'styled-input' : !noStyle}"
        type="text"
        :value="value"
        @input="handleInput($event.target.value)"
        @blur="handleBlur"
        @keypress.prevent.enter="handleEnterPress"
        ref="input">
      <p v-if="!editMode">{{ value }}</p>
   </div>
</template>

<script>
   /**
    * This Component excepts the following props:
    *    value          |  String   | This will automaticly be set if you use v-model
    *    edit           |  Boolean  | Allows you to toggle the editMode programmaticly
    *    noToggle       |  Boolean  | If set to true, the user can not manually toggle editMode
    *    noStyle        |  Boolean  | If set to true, no default styles are applied to the input
    *    toggleOnBlur   |  Boolean  | If set to true, the edit state will be toggled on blur
    *    eventType      |  String   | Choose wether to emit a submit event on blur or a input event on input (necessarry for v-model)
    *                                 ACCEPTED VALUES: "input" (default) or "submit"
    *
    * Example Usage:
    * <text-input v-model="someData" :edit="someBoolean" noToggle />
    */

    export default {

        props: {
           "value" : {
              type: String
           },
           "eventType" : {
              type: String,
              default: "input"
           },
           "edit": {
              type: Boolean,
              default: false
           },
           "noToggle": {
              type: Boolean,
              default: false
           },
           "noStyle": {
              type: Boolean,
              default: false
           },
           "toggleOnBlur": {
              type: Boolean,
              default: false
           },
        },

        mounted() {
           // If the value is empty, then set editMode to true by default
           if (this.value === "") this.editMode = true;
           this.currentValue = this.value;
        },

        data: function () {
            return {
                editMode: false,
                currentValue: ""
            };
        },

        methods: {
           handleInput(value) {
              this.currentValue = value;
              this.$emit('input', value);
           },

           toggleEdit() {
              if (this.editMode) {
                this.$emit('submit', this.currentValue);
              }

              if (!this.noToggle) this.editMode = !this.editMode;
           },

           handleBlur() {
              if (this.toggleOnBlur) {
                this.toggleEdit();
              }
           },

           handleEnterPress() {
              if (this.toggleOnBlur) {
                  return this.$refs.input.blur();
              }
              this.toggleEdit();
           }
        },

        watch: {
      	edit(newVal) {
            this.editMode = newVal;
        }
      }

    }
</script>


<style scoped>
   input, p {
      width: 100%;
   }

   .styled-input {
      display: block;
      height: calc(2.19rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 0.9rem;
      line-height: 1.6;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
   }
</style>