<template>
	<div class="guided-tour" v-if="showOverlay">
		<h3>Welcome!</h3>
		<p>Since your new here, we`ve prepared a little guided tour through the application for you :)</p>

		<button class="start mr-3" @click="firstTooltip">Lets get started</button>
		<button @click="handleDismiss">Dont show this again</button>
	</div>
</template>

<script>
export default {
  name: 'guided-tour',

  props: {

  },

  data () {
    return {
    	showOverlay: true
    }
  },

  methods: {
  	firstTooltip() {
  		this.$store.commit("nextTooltip");
  		this.dismissOverlay();
  	},

  	dismissOverlay() {
  		this.showOverlay = false;
  	},

  	handleDismiss() {
  		this.showOverlay = false;
  		this.$store.dispatch('completeTour');
  	}
  },
}
</script>

<style lang="scss" scoped>
.guided-tour {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 680px;
	height: 250px;
	z-index: 300;
	background: $secondary;

	box-shadow: 8px 5px 15px rgba(0,0,0, 0.25);
	border-radius: 5px;
	padding: 40px;

	h3 {
		color: white;
		font-weight: bold;
	}

	p {
		color: white;
		font-size: 18px;
	}

	button {
		background: none;
		border: 2px solid white;
		border-radius: 4px;
		padding: 6px 20px;
		color: white;
		cursor: pointer;

		&:hover {
			background-color: white;
			color: $secondary;
		}

		&:focus {
			outline: none;
		}
	}

	button.start {
		background-color: white;
		color: $secondary;

		&:hover {
			box-shadow: 3px 2px 5px rgba(0,0,0,0.35);
		}
	}
}
</style>