<template>
	<div id="navbar" :class="{'expanded' : isExpanded}">
		<div class="links">
			<router-link exact to="/" style="margin-bottom: 40px">
				<img src="../assets/logo-agiman.svg" width="24px">
			</router-link>

			<router-link exact to="/">
				<span class="link-name" v-if="isExpanded">Dashboard</span>
				<icon icon="home" size="lg" />
			</router-link>

			<router-link exact to="/projects">
				<span class="link-name" v-if="isExpanded">Projects</span>
				<icon icon="folder-open" size="lg" />
			</router-link>

			<router-link exact to="/tracked-time" id="time-link">
				<span class="link-name" v-if="isExpanded">Time Tracking</span>
				<icon icon="clock" size="lg" />
			</router-link>
		</div>

		<div class="lower-section">
			<div class="expand" @click="toggleNavbar" id="expand-toggle">
				<span class="link-name" v-if="isExpanded">Minimize</span>
				<icon v-if="isExpanded" icon="angle-left" size="lg"/>
				<icon v-else icon="angle-right" size="lg"/>
			</div>
		</div>

		<b-popover v-if="showNavbarTooltip" :show="showNavbarTooltip" ref="popover" target="time-link" title="Find your way around" placement="right">
			Through the navbar you can always get to the main pages, such as the <b>time-tracking overview page</b>, as well as the <b>projects page</b> and the <b>dashboard</b> which is the page your currently on. <br>
  			<button class="tooltip-back-btn" @click="$store.commit('previousTooltip')">Back</button>
      		<button class="tooltip-next-btn" @click="$store.commit('nextTooltip')">Next</button>
    	</b-popover>

    	<b-popover v-if="showExpandNavbarTooltip" :show="showExpandNavbarTooltip" ref="popover" target="expand-toggle" title="Expand the navbar" placement="right">
      		If you´re ever in doubt which icon means what, you can use this button <b>to expand</b> the Navbar to reveal the name of each link. <br>
      		<button class="tooltip-next-btn" @click="$store.dispatch('completeTour')">Lets get started!</button>
    	</b-popover>
    </div>
</template>

<script>
export default {

  data () {
    return {
    }
  },

  computed: {
  	isExpanded() {
  		return this.$store.state.navbarIsExpanded;
  	},

  	showExpandNavbarTooltip() {
  		return this.$store.getters.currentTooltip.name === 'expandNavbarTooltip';
  	},

  	showNavbarTooltip() {
  		return this.$store.getters.currentTooltip.name === 'navbarTooltip1';
  	},

  },

  methods: {
  	toggleNavbar() {
  		this.$store.commit('toggleNavbar');
  	}
  }

}
</script>

<style lang="scss" scoped>
	#navbar {
		height: 100vh;
		min-width: 55px;
		background-color: $secondary;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0px;
		transition: all .05s;

		.links {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: center;

			a {
				padding-bottom: 20px;
				color: rgba(255,255,255,0.75);
			}

			a.router-link-active {
				color: white;
			}
		}

		.lower-section {
			display: flex;
			flex-direction: column;
			width: 100%;
			align-items: center;

			.expand {
				color: white;
			}
		}
	}

	#navbar.expanded {
		width: 200px;

		img {
			margin-left: 50%;
			transform: translateX(-50%);
		}

		.links a, .expand {
			display: flex;
			width: 75%;
			justify-content: space-between;
		}
	}
</style>