<template>
	<transition name="slide-left">
		<div id="slide-in" :class="{'p-absolute' : isNonTaskBoardRoute}">
			<div class="header">
				<h4 v-if="contentType === 'task'">Edit Task</h4>
				<h4 v-if="contentType === 'project'">Project</h4>
				<button class="close-btn" @click="close">
					<icon icon="times" />
				</button>
			</div>

			<task-edit-form v-if="contentType === 'task'" />
			<project-edit-form v-if="contentType === 'project'" />
		</div>
	</transition>
</template>

<script>
import taskEditForm from './Taskboard/TaskEditForm.vue';
import projectEditForm from './ProjectIndex/ProjectEditForm.vue';

export default {
  name: 'slide-in',

  props: {
  	isNonTaskBoardRoute: {
  		type: Boolean,
  		default: false,
  	}
  },

  components: {
  	taskEditForm,
  	projectEditForm
  },

  data () {
    return {
    }
  },

  created() {

  },

  computed: {
  	contentType(){
  		return this.$store.state.slideInContentType;
  	},

  	task(){
  		return this.$store.state.taskBeingEdited;
  	},

  },

  methods: {
  	close() {
  		this.$store.dispatch('closeSlideIn');
  	},
  },
}
</script>

<style lang="scss" scoped>
.p-absolute {
	position: absolute !important;
	right: 0px;
}

	#slide-in {
		width: 30%;
		min-width: 650px;
		height: 95vh;
		overflow-y: auto;
		margin-left: auto;
		min-height: 340px;
		background: white;
		box-shadow: -7px 10px 15px rgba(0,0,0,0.05);
		border-top: 2px solid whitesmoke;
		padding: 35px;
		z-index: 100;

		h4 {
			color: $secondary;
			font-weight: 600;
			padding-bottom: 10px
		}
	}

	.slide-left-enter-active, .slide-left-enter-leave {
		transition: all .05s;
	}

	.slide-left-enter {
		opacity: 0;
		transform: translateX(50%);
	}

	.slide-left-enter-to {
		opacity: 1;
	}

	.slide-left-leave {
		opacity: 1;
		transform: translateX(50%);
	}

	.slide-left-leave-to {
		opacity: 0;
	}

</style>