<template>
	<div id="topbar">
		<div class="main">
			<div class="left">
				<div id="search-field">
					<icon class="mr-1" :class="{'active' : searchIsFocused}" icon="search"></icon>
					<input type="search" name="search" @input="search($event.target.value)" @focus="updateSearchSet" @blur="blur" @keyup="handleKeyPress($event)" placeholder="Search... ( Ctrl + Shift + F )" ref="search_field" autocomplete="off">
				</div>

				<b-popover v-if="showSearchTooltip" :show="showSearchTooltip" ref="popover" target="search-field" title="The global Search" placement="bottom">
		      		The search is probably the best way to get where you want to go quickly. The search is pretty clever, and will usually find what your looking for, even if you dont spell it correctly, or shorten the task or project you´re looking for.
		      		<br>
		      		<br>
		      		<b>Shortcut</b><br>
		      		You can activate the search from anywhere by pressing <i>Control + Shift + F</i> on your keyboard. <br>
	      			<button class="tooltip-back-btn" @click="$store.commit('previousTooltip')">Back</button>
		      		<button class="tooltip-next-btn" @click="$store.commit('nextTooltip')">Next</button>
		    	</b-popover>
			</div>
			<div class="tracking d-flex ml-auto mr-3 mt-1" id="timetracking">
				<div class="ml-3">
					<timer ref="timer"></timer>
				</div>
				<div class="ml-3" v-if="!timerIsRunning">
					<button @click="startTimer"><icon icon="play"></icon></button>
				</div>
				<div class="ml-3" v-if="timerIsRunning">
					<button class="stop" @click="stopTimer"><icon icon="stop"></icon></button>
				</div>
			</div>

			<b-popover v-if="showTimerTooltip" :show="showTimerTooltip" ref="popover" target="timetracking" title="Track your time" placement="bottomleft">
	      		This is the timer. You can start a timer by clicking the <i>PLAY</i> icon and then stop it by pressing it again. If you want to start a timer directly from a task, you can do so by opening the task (e.g. using the search) and then clicking the <b>Start timer</b> button on that task.
	      		<br>
	      		<br>
	      		<b>Shortcut</b><br>
	      		You can start a timer at any time by pressing <i>Control + Shift + T</i> on your keyboard. You can then later assign that timer to a task on the Time-overview page.
	      		<br>
	      		<button class="tooltip-next-btn" @click="$store.commit('nextTooltip')">Next</button>
	    	</b-popover>

			<button class="logout" @click="logout">Logout</button>
		</div>

		<div class="search-results" v-if="searchResults.length" @click="clear">
			<ul>
				<li v-for="(result, index) of searchResults"
				class="result d-flex" :class="{'selected' : index === selectionIndex}"
				@click="openSelectedResult(result)" @mouseenter="setSelectionIndex(index)">
					<div class="left">
						<router-link v-if="result.type === 'task'" :to="`/projects/${result.project_id}/task/${result.task_id}`">{{ result.name }}</router-link>
						<router-link v-if="result.type === 'project'" :to="`/projects/${result.project_id}`">{{ result.name }}</router-link>
					</div>
					<div class="ml-auto right type">
						<span>{{result.type}}</span>
					</div>
				</li>
			</ul>
		</div>
    </div>
</template>

<script>
import axios from 'axios';
import timer from './Tracking/Timer.vue';

export default {

	components: {
		timer
	},

	data () {
		return {
			time: 0,
			searchSet: [],
			updating: false,
			searchIsFocused: false,
			activeTimer: null,
			selectionIndex: 0,
			searchOptions: {
				shouldSort: true,
				threshold: 0.6,
				location: 0,
				distance: 50,
				maxPatternLength: 32,
				minMatchCharLength: 1,
				keys: [
					"name"
				]
			}
		}
	},

	computed: {
		searchResults() {
			this.selectionIndex = 0;
			return this.$store.state.searchResults;
		},

		showTimerTooltip() {
			return this.$store.getters.currentTooltip.name === 'timerTooltip1';
		},

		showSearchTooltip() {
			return this.$store.getters.currentTooltip.name === 'searchTooltip1';
		},

		timerIsRunning() {
			return (this.$store.state.runningTimer !== null);
		},
	},

	created() {
		this.$store.dispatch('resumeActiveTimer');
		axios.get('/api/search/all').then(({data}) => this.searchSet = data);
	},

	methods: {
		search(query) {
			if (query === "") {
				this.$store.commit('updateSearchResults', []);
			}

			this.$search(query, this.searchSet, this.searchOptions).then(newSet => {
				this.$store.commit('updateSearchResults', newSet);
			})
		},

		async updateSearchSet() {
			this.searchIsFocused = true;
			this.updating = true;
			await axios.get('/api/search/all').then(({data}) => this.searchSet = data);
			this.updating = false;
		},

		blur() {
			this.searchIsFocused = false;
			this.$refs.search_field.blur();
		},

		clear() {
			this.$refs.search_field.value = "";
			this.$store.commit('updateSearchResults', []);
		},

		setSelectionIndex(index) {
			this.selectionIndex = index;
		},

		updateSelectionIndex(amount) {
			let newIndex = this.selectionIndex + amount;

			if (newIndex > this.searchResults.length -1) {
				newIndex = 0;
			} else if (newIndex < 0) {
				newIndex = this.searchResults.length - 1;
			}

			this.selectionIndex = newIndex;
		},

		openSelectedResult(result = this.searchResults[this.selectionIndex]) {
			if (result.type === 'task') {
				this.$router.push(`/projects/${result.project_id}/task/${result.task_id}`);
			} else if (result.type === 'project') {
				this.$router.push(`/projects/${result.project_id}`);
			}

			this.clear();
			this.blur();
		},

		handleKeyPress(event) {
			switch (event.key) {
				case 'Escape':
					this.blur();
					this.clear();
					break;

				case 'Enter':
					this.openSelectedResult();
					break;

				case 'ArrowDown':
					this.updateSelectionIndex(1);
					break;

				case 'ArrowUp':
					this.updateSelectionIndex(-1);
					break;

				default:
					break;
			}
		},

		async startTimer() {
			this.$store.dispatch('startTimer');
		},

		async stopTimer() {
			this.$store.dispatch('stopTimer');
		},

		async logout() {
			await this.$store.dispatch('logout');
            this.$router.push({path: '/login'});
		},
	},
}
</script>

<style lang="scss" scoped>
	#topbar .main {
		width: 100%;
		background-color: white;
		display: flex;
		flex-direction: row;
		padding: 5px;
		min-height: 60px;

		a {
			padding-bottom: 20px;
			color: white;
		}

		.tracking {
			padding-top: 3px;

			button {
				background: darkgrey;
			    border: none;
			    color: white;
			    width: 35px;
			    height: 35px;
			    font-size: 19px;
			    padding-top: 4px;
			    padding-left: 9px;
			    border-radius: 7px;
			    cursor: pointer;
			    margin-bottom: 3px;

			    &:focus {
			    	outline: none;
			    }
			}

			.stop {
				background-color: $secondary;
				padding-left: 7px;
			}
		}

		.logout {
			background: none;
		    border: none;
		    color: darkgrey;
		    cursor: pointer;
		    margin-top: 3px;
		    padding-right: 20px;

		    &:focus {
		    	outline: none;
		    }
		}
	}

	#search-field {
		padding-top: 7px;
		margin-left: 30px;

		svg {
			color: lightgrey;
			font-size: 21px;
			vertical-align: middle;
		}

		.active {
			color: $secondary;
		}

		input {
			border: none;
			font-size: 18px;
			line-height: 1.5;
			padding: 5px 8px;
			width: 500px;
			vertical-align: middle;

			&:focus {
				outline: none;
			}
		}
	}

	.search-results {
		position: absolute;
		z-index: 150;
		background: white;
	    display: inline-block;
	    padding: 20px 20px;
	    width: 600px;
	    box-shadow: 3px 6px 11px rgba(0,0,0,0.07);

	    ul {
	    	padding: 0px 10px;

	    	li {
	    		padding: 4px 12px;
	    	}
	    }

	    .result {
	    	display: flex;
	    	max-width: 570px;
	    	justify-content: space-between;
	    }

	    .selected {
	    	background-color: whitesmoke;

	    	a {
	    		color: $secondary;
	    	}
	    }

	    a {
	    	color: #555555;
	    	font-size: 17px;
	    }

	    .type {
	    	color: grey;
	    }
	}
</style>