<template>
	<b-modal id="moveTimeStampModal" title="Move the Timestamp">
		<div class="move-task-form">
			<label class="">Select which Project to move it to</label>
			<v-select ref="focusThis" label="name" :options="projects" @input="projectSelected($event)"></v-select>

			<label class="mt-3">Select a list inside that project</label>
      <v-select label="title" :options="lists" @input="listSelected($event)"></v-select>

      <label class="mt-3">Select the task you would like to assign the timestamp to</label>
			<v-select label="name" :options="tasks" @input="taskSelected($event)"></v-select>
		</div>

		<div slot="modal-footer" class="w-100">
			<button class="btn btn-success" @click="moveTimeStamp">Move TimeStamp</button>
		</div>
	</b-modal>
</template>

<script>
import axios from 'axios';
import vSelect from 'vue-select';

export default {
  name: 'move-task-form',

  components: {
  	vSelect,
  },

  props: {
  	timeStamp: {
  		type: Object
  	}
  },

  created() {
	this.$store.dispatch('fetchProjects');
  },

  computed: {
  	projects() {
  		return this.$store.state.projects;
  	},
  },

  data () {
    return {
    	lists: [],
    	list_id: null,
      tasks: [],
      selectedTask: null
    }
  },

  methods: {
  	async projectSelected(project) {
  		const { data } = await axios.get(`/api/projects/${project.id}/lists`);
  		this.lists = data;
  	},

  	listSelected(list) {
      this.list_id = list.id;
      this.setTasks();
    },

    setTasks(listId) {
      this.tasks = this.lists.find(list => list.id === this.list_id).tasks;
    },

    taskSelected(task) {
  		this.selectedTask = task;
  	},

  	async moveTimeStamp() {
      const userId = this.$store.state.currentUser.id;
  		const { data, status } = await axios.post(`/api/users/${userId}/timers/${this.timeStamp.id}`, {
  			task_id: this.selectedTask.id
  		});

  		if (status !== 200) {
  			return;
  		}

  		this.$root.$emit('bv::hide::modal','moveTimeStampModal');
  		this.$store.commit('updateTimeStamp', data);
  	},
  },
}
</script>

<style lang="scss" scoped>
</style>