<template>
	<li class="time-stamp">
        <div class="project">
        	<router-link v-if="timeStamp.task && timeStamp.task.project" :to="`/projects/${timeStamp.task.project.id}`">{{timeStamp.task.project.name}}</router-link>
        	<p v-else>No Project..</p>
        </div>
        <div class="task">
        	<router-link v-if="timeStamp.task && !timeStamp.task.is_sub_task" :to="`/projects/${timeStamp.task.project.id}/task/${timeStamp.task.id}`">{{timeStamp.task.name}}</router-link>
          <router-link v-if="timeStamp.task && timeStamp.task.is_sub_task" :to="`/projects/${timeStamp.task.project.id}/task/${timeStamp.task.parent.id}`">{{timeStamp.task.name}}</router-link>
        	<p v-if="!timeStamp.task" class="not-assigned">Not yet assigned to a task</p>
        </div>

        <form @keypress.enter="updateTimeStamp">
	        <div class="date">
	        	<p v-if="!editMode">{{ timeStamp.started_at | readableDate }}</p>
		        <input v-if="editMode" type="date" :value="timeStamp.started_at | onlyDate" @input="setDate($event.target.value)">
	        </div>
	        <div class="started-at">
				<p v-if="!editMode">{{ timeStamp.started_at | hoursAndMinutes }}</p>
	        	<input v-if="editMode" type="time" :value="timeStamp.started_at | hoursAndMinutes" @input="setStartTime($event.target.value)">
	        </div>
	        <div class="stopped-at">
	        	<p v-if="!editMode">{{ timeStamp.stopped_at | hoursAndMinutes }}</p>
	        	<input v-if="editMode" type="time" :value="timeStamp.stopped_at | hoursAndMinutes" @input="setEndTime($event.target.value)">
	        </div>
	        <div class="total ml-3">
	        	<p v-if="!editMode"><b>{{ timeStamp.total_time }}</b></p>
	        </div>
	        <div class="save" v-if="editMode" @click="updateTimeStamp">
	        	<icon icon="check"></icon>
	        </div>
        </form>

        <div class="actions">
        	<div class="actions-btn" @click="toggleEditMode">
        		<span title="Edit the timestamp"><icon icon="pen"></icon></span>
        	</div>
        	<div class="actions-btn" @click="moveToOtherTask">
        		<span title="Assign the timestamp to a Task or move it to another one"><icon icon="exchange-alt"></icon></span>
        	</div>
        	<div class="actions-btn" @click="deleteTimeStamp">
        		<span title="Delete this timestamp"><icon icon="times"></icon></span>
        	</div>
        </div>

	</li>
</template>

<script>
import axios from 'axios';

export default {
  name: 'time-stamp',

  props: {
  	timeStamp: {
  		type: Object
  	}
  },

  created() {
    console.log(this.timeStamp)
  	this.date = this.$options.filters.onlyDate(this.timeStamp.started_at);
  	this.start_time = this.$options.filters.hoursAndMinutes(this.timeStamp.started_at);
  	this.end_time = this.$options.filters.hoursAndMinutes(this.timeStamp.stopped_at);
  },

  data () {
    return {
    	editMode: false,
    	date: null,
    	start_time: null,
    	end_time: null
    }
  },

  methods: {
  	toggleEditMode() {
  		this.editMode = !this.editMode;
  	},

  	updateTimeStamp() {
  		let start = this.date + " " + this.start_time;
  		let end = this.date + " " + this.end_time;

  		this.$store.dispatch('updateTimeStamp', {
  			id: this.timeStamp.id,
  			start,
  			end
  		})

  		this.toggleEditMode();
  	},

  	async deleteTimeStamp() {
  		const confirmation = await swal({
  		  title: "Are you sure?",
  		  text: "The TimeStamp will be permanently and irreversibly deleted.",
  		  icon: "warning",
  		  buttons: {
  		    cancel: "No!",
  		    confirm: "Yes, delete it",
  		  },
  		})

  		if (!confirmation) {
  		  return;
  		}

  		this.$store.dispatch('deleteTimeStamp', this.timeStamp.id)
  	},

  	moveToOtherTask() {
  		this.$emit('move', {...this.timeStamp});
  	},

  	setStartTime(input) {
  		this.start_time = input;
  	},

  	setEndTime(input) {
  		this.end_time = input;
  	},

  	setDate(input) {
  		this.date = input;
  	},
  },

  filters: {
    hoursAndMinutes(input) {
      return input.split(' ')[1];
    },

    readableDate(input) {
    	let parts = input
    		.split(' ')[0]
    		.split('-')

    	return `${parts[2]}.${parts[1]}.${parts[0]}`;
    },

    onlyDate(input) {
    	return input.split(' ')[0];
    },
  }
}
</script>

<style lang="scss" scoped>
	.time-stamp {
		display: flex;
		justify-content: space-between;
		width: 100%;
		background: white;
		margin-top: 10px;
		border-radius: 3px;
		box-shadow: 1px 1px 7px rgba(0,0,0,0.07);
		padding: 10px 30px;

		p {
			margin: 0px;
		}

		.project, .task, .date, form, .actions {
			display: flex;
			margin-right: 15px;
		}

		.project {
			width: 15%;
		}

		.task {
			width: 33%;
			p, a {
				width: 90%;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		.actions {
			width: 7%;
		}

		.actions span {
			margin-left: 13px;
		}

		.not-assigned {
			font-weight: bold;
			color: $orange;
		}

		.started-at {
			margin-right: 15px;
		}

		form {
			width: 45%;

			.save {
				margin-left: 15px;
				color: $green;
			}

			input {
				outline: none;
				border: none;
				padding: 0px;
				border-bottom: 1px solid $secondary;
			}
		}
	}
</style>