<template>
    <span class="timer" v-if="time !== '00:00:00'" id="time">{{ time }}</span>
</template>

<script>
export default {
    data() {
        return {
            interval: null
        }
    },

    mounted() {
        this.interval = setInterval(this.updateCurrentTime, 1000);
    },

    destroyed() {
        clearInterval(this.interval)
    },

    computed: {
        state() {
            return this.$store.state.timerState;
        },

        startTime() {
            return this.$store.state.startTime;
        },

        currentTime() {
            return this.$store.state.currentTime;
        },

        time() {
            // return this.hours + ':' + this.minutes + ':' + this.seconds;
            return this.hours + ':' + this.minutes + ':' + this.seconds;
        },

        milliseconds() {
            return this.currentTime - this.startTime;
        },

        hours() {
            var lapsed = this.milliseconds;
            var hrs = Math.floor((lapsed / 1000 / 60 / 60));
            return hrs >= 10 ? hrs : '0' + hrs;
        },

        minutes() {
            var lapsed = this.milliseconds;
            var min = Math.floor((lapsed / 1000 / 60) % 60);
            return min >= 10 ? min : '0' + min;
        },
        seconds() {
            var lapsed = this.milliseconds;
            var sec = Math.ceil((lapsed / 1000) % 60);
            return sec >= 10 ? sec : '0' + sec;
        }
    },
    methods: {
        updateCurrentTime() {
            if (this.state == "started") {
                this.$store.commit('setCurrentTime', Date.now());
            }
        }
    }
}
</script>

<style lang="scss">
    .timer {
        color: $secondary;
        font-size: 18px;
        line-height: 1.9;
    }
</style>