<template>
    <div class="login row justify-content-center">
        <div class="left">
            <h1>Login</h1>
        </div>
        <div class="right">
            <form @submit.prevent="authenticate">
                <div class="form-group row">
                    <label for="email">Email</label>
                    <input type="email" v-model="form.email" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group row">
                    <label for="password">Password</label>
                    <input type="password" v-model="form.password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group row">
                    <button class="login-btn" role="submit">Login</button>
                    <router-link class="register-btn ml-3" tag="button" to="/register">Register</router-link>
                </div>
                <div class="form-group row" v-if="authError">
                    <p class="error" v-if="Object.keys(authError)">
                        An error occured when attempting login. Are you sure you entered the right credentials and are registered?
                    </p>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                error: null
            };
        },
        methods: {
            async authenticate() {
                await this.$store.dispatch('login', {...this.form});
                this.$router.push({path: '/'});
            }
        },
        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        }
    }
</script>

<style lang="scss" scoped>
.login {
    width: 100%;
    height: 100vh;



    .left {
        width: 40%;
        color: white;
        background-color: $secondary;

        h1 {
            text-align: center;
            margin-top: 50vh;
            transform: translateY(-50%);
        }
    }

    .right {
        width: 60%;
        padding: 60px;

        form {

        }

        button {
            background: none;
            padding: 8px 30px;
            border-radius: 3px;
        }

        .login-btn {
            background-color: $secondary;
            color: white;
            border-color: $secondary;
        }
    }
}

.error {
    text-align: left;
    color: red;
}
</style>

