<template>
    <div class="register row justify-content-center">
        <div class="left">
            <h1>Registration</h1>
        </div>
        <div class="right">
            <form @submit.prevent="register">
                <div class="form-group row">
                    <label for="name">Name:</label>
                    <input type="text" v-model="form.name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group row">
                    <label for="email">Email:</label>
                    <input type="email" v-model="form.email" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group row">
                    <label for="password">Password:</label>
                    <input type="password" v-model="form.password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group row">
                    <label for="password">Password Confirmation:</label>
                    <input type="password" v-model="form.password_confirmation" class="form-control" placeholder="Password Confirmation">
                </div>
                <div class="form-group row">
                    <button class="register-btn" role="submit">Register</button>
                    <router-link class="ml-3" to="/login" tag="button">Login</router-link>
                </div>
                <div class="form-group row" v-if="errors">
                    <p class="error" v-for="error of errors">
                        {{ error[0] }}
                    </p>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

    export default {
        name: "register",

        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
                errors: null
            };
        },
        methods: {
            async register() {
            	// Register
                try {
                    await axios.post('/api/auth/register', {...this.form});
                } catch(error) {
                    console.log(error.response)
                    return this.errors = error.response.data.errors;
                }

                // Login
                await this.$store.dispatch('login', {
                	email: this.form.email,
                	password: this.form.password
                });

                this.$router.push({path: '/'});
            }
        },
    }
</script>

<style lang="scss" scoped>
.register {
    width: 100%;
    height: 100vh;

    .left {
        width: 40%;
        color: white;
        background-color: $secondary;

        h1 {
            text-align: center;
            margin-top: 50vh;
            transform: translateY(-50%);
        }
    }


    .right {
        width: 60%;
        padding: 60px;

        form {
        }

        button {
            background: none;
            padding: 8px 30px;
            border-radius: 3px;
        }

        .register-btn {
            background-color: $secondary;
            color: white;
            border-color: $secondary;
        }
    }
}

.error {
    text-align: left;
    color: red;
    margin-bottom: 8px;
}
</style>

