<template>
	<div class="project-edit-form">
		<div class="project-edit-form">
			<label>Project name</label>
      <input v-model="currentProject.name" type="text" class="form-control" @keypress.enter="updateProject">

      <label>Client</label>
			<input type="text" class="form-control" placeholder="Will be a vue-select at some point...">

      <label class="mt-3">Description</label>
      <textarea v-model="currentProject.description" class="form-control" rows="5" @keypress.shift.enter.prevent="updateProject"></textarea>

			<div class="buttons">
        <button class="btn btn-primary mt-3 mb-3" @click="updateProject">Save</button>

        <div class="right-buttons d-flex mt-3 mb-3">
          <button class="btn btn-danger" @click="deleteProject">Delete</button>
        </div>

      </div>
		</div>
	</div>
</template>

<script>
export default {
  name: 'project-edit-form',

  data () {
    return {
    	currentProject: {},
    }
  },

  created() {
  	this.snapshotProjectData(this.project);
  },

  computed: {
  	project(){
  		return this.$store.state.projectBeingEdited;
  	},
  },

  methods: {
  	updateProject(){
      const isNewProject = !this.currentProject.id;

      if (isNewProject) {
        this.$store.dispatch('createProject', {...this.currentProject}); // use ... to clone the object
        return this.$store.dispatch('closeSlideIn');
      }

  		this.$store.dispatch('updateProject', {...this.currentProject});
      return this.$store.dispatch('closeSlideIn');
  	},

    snapshotProjectData(newProject) {
      let project = { ...newProject }; // Clone object to servere all connections

      const projectIsEmpty = !Object.keys(project).length;

      if (projectIsEmpty) {
        project = {
          name: "",
          describtion: "",
          client_id: 1,
          pinned: false
        }
      }

      this.currentProject = project;
    },

  	async deleteProject() {
      const confirmation = await swal({
        title: "Are you sure?",
        text: "The Project and all contained tasks will be permanently and irreversibly deleted.",
        icon: "warning",
        buttons: {
          cancel: "No!",
          confirm: "Yes, delete it",
        },
      })

      if (!confirmation) {
        return;
      }

      this.$store.dispatch('deleteProject', this.currentProject.id);
      this.$store.dispatch('closeSlideIn');
      this.$router.push("/projects");
  	},

  },

  watch: {
    project(newProject) {
      this.snapshotProjectData(newProject);
    }
  },
}
</script>

<style lang="scss" scoped>
.project-edit-form {

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
}
</style>