<template>
	<router-link exact :to="'/projects/' + project.id" tag="li" class="project">
			<div class="main-section">
				<h3 class="project-title">{{ project.name }}</h3>
				<p class="sub-title">{{ client.name }}</p>
				<p class="total-time">
					<span title="Total time spent on this Project" class="time" v-if="total_time !== 0"><icon icon="stopwatch"></icon> {{total_time | secondsToString}}</span>
					<span title="Total time spent on this Project" class="no-time" v-if="total_time === 0">No time has been tracked on this project</span>
				</p>
			</div>

			<div class="meta-section">
				<div class="middle task-stats">
					<h5>My Tasks</h5>
					<div class="task-number">
						<p class="title">Open</p>
						<p class="number">{{ project.open_user_tasks }}</p>
					</div>
					<div class="task-number">
						<p class="title">Closed</p>
						<p class="number">{{ project.closed_user_tasks }}</p>
					</div>
					<div class="task-number">
						<p class="title">Total</p>
						<p class="number">{{ totalUserTasks }}</p>
					</div>
				</div>

				<div class="right task-stats">
					<h5>All Tasks</h5>
					<div class="task-number">
						<p class="title">Open</p>
						<p class="number">{{ project.open_tasks }}</p>
					</div>
					<div class="task-number">
						<p class="title">Closed</p>
						<p class="number">{{ project.closed_tasks }}</p>
					</div>
					<div class="task-number">
						<p class="title">Total</p>
						<p class="number">{{ totalTasks }}</p>
					</div>
				</div>
			</div>
	</router-link>
</template>

<script>
import axios from 'axios';

export default {
  name: 'project',

  props: {
  	project: {
  		type: Object
  	}
  },

  data () {
    return {
    	total_time: "Calculating total time..."
    }
  },

  created() {
  	axios.get(`/api/projects/${this.project.id}/time/total`).then(({ data }) => this.total_time = data);
  },

  computed: {
  	client() {
  		// This will later be included on the project (probably)
  		return this.$store.state.clients.find(client => client.id === this.project.client_id);
  	},

	totalTasks() {
		return this.project.open_tasks + this.project.closed_tasks;
	},

	totalUserTasks() {
		return this.project.open_user_tasks + this.project.closed_user_tasks;
	},

  },

  methods: {

  },

  filters: {
  	secondsToString(d) {
	    d = Number(d);
	    const h = Math.floor(d / 3600);
	    const m = Math.floor(d % 3600 / 60);
	    const s = Math.floor(d % 3600 % 60);

	    const hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
	    const mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
	    const sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
	    return hDisplay + mDisplay + sDisplay;
	}
  }
}
</script>

<style lang="scss" scoped>
.project {
	display: flex;
	justify-content: space-between;
	background-color: white;
	width: 850px;
	border-radius: 5px;
	border: 1px solid #E6E6E6;
	margin-bottom: 15px;
	cursor: pointer;

	&:hover {
		outline: 3px solid #e4e4e4;

		.project-title {
			color: $secondary;
		}
	}

	.project-title {
		color: #6F6F6F;
		font-size: 24px;
	}

	.sub-title {
		color: grey;
	}

	.meta-section, .main-section {
		padding: 15px 25px;
	}

	.meta-section {
		display: flex;
		background-color: #EAEAEA;
		color: #868686;
	}

	.middle, .right {
		.task-number {
			display: flex;
			width: 100px;
			justify-content: space-between;

			p {
				margin: 0px;
			}

			.title {
				font-weight: 600;
			}

			.number {
			}
		}
	}

	.middle, .right {
		padding: 0px 18px;
	}

	.middle {
		margin-left: auto;
	}

	.right {
		margin-left: 30px;
	}
}

.total-time {
	margin-bottom: 0px;

	.time {
		color: grey;
	}

	.no-time {
		color: lightgrey;
	}
}
</style>