<template>
  <div id="app">
      <guided-tour v-if="showTour"></guided-tour>
      <navbar v-if="!isGuestRoute" v-cloak/>
      <div :class="{ 'main-container' : !isGuestRoute, 'guest-container' : isGuestRoute }">
        <topbar v-if="!isGuestRoute" v-cloak/>

        <div class="main-view">
          <router-view />
          <slide-in v-if="slideInIsOpen" :isNonTaskBoardRoute="isNonTaskBoardRoute" />
        </div>
      </div>
  </div>
</template>

<script>
  import topbar from '@/components/TopBar.vue'
  import navbar from '@/components/Navbar.vue'
  import slideIn from '@/components/SlideIn.vue'
  import guidedTour from '@/components/GuidedTour.vue'

  export default {
    components: {
      navbar,
      topbar,
      slideIn,
      guidedTour
    },

    data () {
      return {
        isGuestRoute: true,
        isNonTaskBoardRoute: false,
      }
    },

    created() {
      this.checkIfGuestRoute(this.$route);
      this.checkIfToDisplayGuidedTour();
    },

    computed: {
      slideInIsOpen() {
        return this.$store.state.slideInIsOpen;
      },

      showTour() {
        return this.$store.state.showGuidedTour;
      },
    },

    methods: {
      checkIfGuestRoute(route) {
        const guestRoutes = ["login", "register"];
        this.isGuestRoute = guestRoutes.some(guestRoute => guestRoute === route.name);
      },

      checkIfTaskboardRoute(route) {
        const nonTaskBoardRoutes = ["project-index", "tracked-time"];
        this.isNonTaskBoardRoute = nonTaskBoardRoutes.some(nonTaskboardRoute => nonTaskboardRoute === route.name);
      },

      checkIfToDisplayGuidedTour() {

      },
    },

    watch: {
      $route(to) {
        this.checkIfGuestRoute(to);
        this.checkIfTaskboardRoute(to);
      },

      showTour(newStatus) {
        if (newStatus === false) {
            this.$root.$emit('bv::disable::popover');
            this.$root.$emit('bv::hide::popover');
        }
      }
    }

  }
</script>

<style lang="scss">
#app {
  display: flex !important;

  .guest-container {
    width: 100%;
    height: 100vh;
  }

  .main-container {
    position: relative;
    display: flex;
    flex-grow: 2;
    flex-direction: column;

    .main-view {
      display: flex;
      height: 95vh;
      width: 100%;
      overflow-y: auto;
      position: relative;
    }
  }
}
#nav {
  padding: 5px;

  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.p-absolute {
  position: absolute;
  right: 0px;
}
</style>