<template>
	<div class="home pt-5">
		<div class="stats d-flex mb-5">
	      <total-time period="today"></total-time>
	      <total-time period="week"></total-time>
	      <total-time period="month"></total-time>
		</div>

		<h2 class="task-title">My most recent tasks</h2>
		<ul class="recent-tasks">
			<li v-for="task of userTasks">
				<router-link class="task-name" :to="`/projects/${task.project.id}/task/${task.id}`">{{ task.name }}</router-link>
				<router-link class="project-name" :to="`/projects/${task.project.id}`">{{ task.project.name }}</router-link>
			</li>
		</ul>

		<div class="lists">
			<div class="recents">
				<div class="header">
					<h2>Recently active projects</h2>
					<!-- <button>+</button> -->
				</div>
				<ul class="projects">
					<li v-for="project of userProjects">
						<router-link :to="`/projects/${project.id}`">{{ project.name }}</router-link>
						<span></span>
					</li>
				</ul>
			</div>

			<div class="recents">
				<div class="header">
					<h2>Recently active tasks</h2>
				</div>
				<ul class="tasks">
					<li v-for="task of recentTasks" class="recent-task">
						<router-link class="task-name" :to="`/projects/${task.project.id}/task/${task.id}`">{{ task.name }}</router-link>
					</li>
				</ul>
			</div>
		</div>

	</div>
</template>

<script>
import axios from 'axios';
import totalTime from '../components/Tracking/Stats/TotalTime.vue';

export default {
	name: "home",

	components: {
	  totalTime
	},

	data () {
		return {
			userTasks: null,
			userProjects: null,
			recentTasks: null,
		}
	},

	async created() {
		axios.get('/api/users/tasks/recent').then(({ data }) => this.userTasks = data );
		axios.get('/api/projects/recent').then(({ data }) => this.userProjects = data );
		axios.get('/api/tasks/recent').then(({ data }) => this.recentTasks = data );
	},

	computed: {
		lists() {
			return this.$store.state.lists;
		},
	},

	methods: {
	  change () {
	    this.$store.dispatch('changeTitle');
	  },
	}
};
</script>

<style lang="scss" scoped>
.home {
	width: 100%;
	max-width: 1200px;
	margin-left: 60px;
}

.task-title {
	font-size: 22px;
	color: $grey;
}

.recent-tasks {
	padding-left: 0px;
	padding-top: 5px;
	list-style: none;
	display: flex;
	margin-bottom: 60px;

	li {
		background: white;
		border: 1px solid #d6d6d6;
	    padding: 8px 15px;
	    color: #939393;
	    border-radius: 5px;
		margin-right: 15px;

		a {
			color: inherit;
		}

		.task-name {
			font-size: 16px;
			color: #555555;
			display: block;
		}

		.project-name {
			font-size: 14px;
			color: darkgrey;
		}
	}
}

.lists {
	display: flex;
	min-width: 700px;
}

.recents {
	max-width: 520px;
	min-width: 455px;
	margin-right: 30px;
	border-radius: 5px;
	background: #ffffffb0;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.02);

	.header {
		display: flex;
		justify-content: space-between;
		background: white;
		color: grey;
		border: 1px solid #ebebeb;
		border-radius: 5px 5px 0px 0px;
		padding: 12px 18px;

		h2 {
			padding-top: 4px;
			font-size: 20px;
			margin: 0px;
		}

		button {
			background: none;
			border: 2px solid white;
			border-radius: 5px;
			color: white;
			font-weight: bold;
			font-size: 18px;
			padding: 0px 8px;
			margin: 0px;
		}
	}

	ul {
		padding-left: 0px;
		list-style: none;
		padding: 12px 18px;

		li {
			padding: 8px 0px;
			margin-bottom: 5px;

			a {
				color: inherit;
			}
		}

		li:not(:last-child) {
			border-bottom: 1px solid whitesmoke;
		}

		.recent-task {
			display: flex;
			justify-content: space-between;

			.project-name {
				color: darkgrey;
			}
		}
	}
}
</style>