<template>
	<div id="board-wrapper">

		<div class="bread-crumbs">
			<router-link to="/projects">Projects</router-link>
			<span>></span>
			<p v-if="project.name">{{project.name}}</p>
		</div>
		<div id="project-task-board">
			<draggable :value='lists' @input="updateOrder" :options="{group:'lists'}">
				<task-list :key="list.id" v-for="list of lists" :list="list"/>
				<create-list-form :project-id="id" />
			</draggable>
    	</div>

    	<button class="project-settings" @click="updateProject">
    		<icon icon="cog"></icon>
    	</button>
	</div>
</template>

<script>
import axios from 'axios';
import draggable from 'vuedraggable';
import createListForm from '../components/Taskboard/CreateListForm.vue';
import taskList from '../components/Taskboard/TaskList.vue';

export default {
	components: {
		draggable,
		taskList,
		createListForm
	},

	async created() {
		this.fetchTaskData();
		this.fetchProjectData();
	},

	data () {
		return {
			id: null,
			project: {
				name: "loading..."
			}
		}
	},

	computed: {
		lists() {
			return this.$store.state.lists;
		},
	},

	methods: {
		updateOrder(lists) {
			this.$store.dispatch('updateListOrder', {lists, project_id: this.id});
		},

		updateProject() {
			console.log(this.project);
			this.$store.dispatch('openProjectForm', this.project);
		},

		async fetchProjectData() {
			this.id = this.$route.params.id
			await this.$store.dispatch('fetchProjectLists', this.id);

			const { data } = await axios.get(`/api/projects/${this.id}`);
			this.project = data;
		},

		async fetchTaskData() {
			const taskId = this.$route.params.taskid;
			if (taskId) {
				const { data } = await axios.get(`/api/tasks/${taskId}`);
				this.$store.dispatch('selectTaskToEdit', data);
			}
		},
	},

	watch: {
		$route(to, from) {
			if (to.params.id !== from.params.id) {
				this.fetchProjectData();
			}

			if (to.params.taskid) {
				this.fetchTaskData();
			}
		}
	}
}
</script>

<style lang="scss" scoped>
	#board-wrapper {
		position: relative;
		height: 100%;
		flex-grow: 1;

		.project-settings {
			position: fixed;
			bottom: 25px;
			right: 25px;
			border: none;
			font-size: 35px;
			background: $secondary;
			border-radius: 50%;
			width: 58px;
			height: 58px;
			padding-top: 5px;
			color: white;
			opacity: 0.85;

			&:hover {
				opacity: 1;
			}
		}
	}

	#project-task-board {
		padding: 20px;
		padding-top: 55px;
	    user-select: none;
	    white-space: nowrap;
	    overflow-x: auto;
	    overflow-y: hidden;
	    padding-bottom: 8px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	}

	.bread-crumbs {
		position: absolute;
		z-index: 100;
		padding: 5px 20px;
		font-size: 14px;
		display: flex;
		opacity: .75;
		width: 100%;
	    background: rgba(255,255,255,0.7);
	    border-top: 1px solid rgba(0,0,0,0.08);
	    border-bottom: 1px solid rgba(0,0,0,0.06);

		span {
			margin-left: 8px;
			margin-right: 8px;
			color: $secondary;

		}

		a {
			color: grey;
		}

		p {
			// font-weight: bold;
			color: grey;
			margin: 0px;
		}
	}
</style>