<template>
	<div class="project-index">
		<div class="projects">
      <div class="project-list-header">
        <h2 class="project-title">All Projects</h2>
        <div class="right">
          <div @click="addProject" class="add-project">
            <icon icon="plus" class="mr-1"></icon> Create Project
          </div>
        </div>
      </div>
      <ul class="project-list">
          <project class="project" v-for="project in projects" :project="project">
          </project>
      </ul>
    </div>
	</div>
</template>

<script>
import project from '../components/ProjectIndex/Project.vue';

export default {
  name: 'project-index',

  props: {

  },

  components: {
    project,
  },

  created() {
    this.$store.dispatch('fetchProjects');
  },

  computed: {
    projects() {
      return this.$store.state.projects;
    }
  },

  data () {
    return {

    }
  },

  methods: {
    addProject() {
      this.$store.dispatch('openProjectForm');
    },
  },
}
</script>

<style lang="scss" scoped>
  .project-title {
    font-size: 26px;
    color: #555555;
  }

  .projects {
    margin-top: 30px;
    margin-left: 50px;
    min-width: 850px;

    .project-list-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .right {
        display: flex;
        flex-direction: row-reverse;
        width: 20%;
        justify-content: space-between;

        .add-project {
          border: 2px solid lightgrey;
          border-radius: 5px;
          border-color: $secondary;
          color: $secondary;
          padding: 6px 15px;
          min-width: 160px;

          &:hover {
            background: $secondary;
            color: white;
            cursor: pointer;
          }
        }
      }
    }

    ul {
      list-style: none;
      padding-left: 0px;
    }
  }

</style>