<template>
	<div class="time">
    <div class="stats mt-5 d-flex">
      <total-time period="today"></total-time>
      <total-time period="week"></total-time>
      <total-time period="month"></total-time>
    </div>

    <h2 class="mt-5 mb-3">Your Timestamps</h2>
		<ul class="time-stamp-list">
        <li class="list-header">
              <div class="project">
                <p>Project</p>
              </div>
              <div class="task">
                <p>Task</p>
              </div>
              <div class="dates">
                <div class="date">
                  <p>Date</p>
                </div>
                <div class="started-at">
                  <p>Started at</p>
                </div>
                <div class="stopped-at">
                  <p>Stopped at</p>
                </div>
                <div class="total">
                  <p>Total</p>
                </div>
              </div>
              <div class="actions">
                <p>Actions</p>
              </div>
        </li>
      <time-stamp v-for="time in times" :key="time.id" :time-stamp="time" @move="setTimeStampToMove"></time-stamp>
    </ul>


    <move-time-stamp-form :time-stamp="timeStamp"></move-time-stamp-form>
	</div>
</template>

<script>
import axios from 'axios';
import timeStamp from '../components/Tracking/TimeStamp.vue';
import moveTimeStampForm from '../components/Tracking/MoveTimeStampForm.vue';
import totalTime from '../components/Tracking/Stats/TotalTime.vue';

export default {
  name: 'times',

  props: {

  },

  components: {
    timeStamp,
    moveTimeStampForm,
    totalTime
  },

  async created() {
  	this.$store.dispatch('fetchTimesForCurrentUser');
  },

  computed: {
    times() {
      return this.$store.state.times;
    }
  },

  data () {
    return {
      timeStamp: null,
    }
  },

  methods: {
    setTimeStampToMove(timeStampToBeMoved) {
      this.timeStamp = timeStampToBeMoved;
      this.$root.$emit('bv::show::modal','moveTimeStampModal');
    },
  },
}
</script>

<style lang="scss" scoped>
.time {
  width: 100%;
  max-width: 1200px;
  margin-left: 60px;

  .time-stamp-list {
    padding-left: 0px;
    width: 100%;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: gainsboro;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.07);
  padding: 10px 30px;

  p {
    font-weight: bold;
    margin: 0px;
  }

  .project, .task, .date, .dates, .actions {
    display: flex;
    margin-right: 15px;
  }


  .project {
    width: 15%;
  }

  .task {
    width: 33%;
  }

  .dates {
    width: 45%;
  }

  .actions {
    width: 7%;
  }

  .started-at {
    margin-right: 15px;
  }

  .dates * {
    margin-left: 8px;
  }

}
</style>