$primary : #377BFC;
$secondary : #6CADFF;
$bg-grey: #F5F6F9;

$red : #f2745e;
$green : #28a745;
$orange : #f4986a;
$purple : #BC55FD;

// Greys
$grey: #5e5e5e;
$grey-medium: #939393;
$grey-light: #AFAFAF;
$grey-very-light: #D9D9D9;
