@import 'variables';
body {
	margin: 0px;
	max-width: 100%;
	overflow: hidden;
	font-family: "Nunito Sans", sans-serif;
	background-color: $bg-grey;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

// Font awesome sizes
.fa-lg {
	font-size: 1.2em;
}

// Globals
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 17px;
    cursor: pointer;

    &:hover {
        color: $secondary;
    }
}


// Sweet alert
.swal-text {
    text-align: center;
}

.swal-button--confirm {
    background-color: $orange;


}

.swal-button:not([disabled='disabled']):hover {
    background-color: $red;
}

div.arrow::after {
    border-bottom-color: #7bbbfc !important;
}

.bs-popover-right {
    transform: translate3d(48px, 688px, 0px) !important;
}

.popover-header {
    text-align: center;
    background-color: $secondary;
    color: white;
    border-bottom: 2px solid #f5f5f52b;
    padding: 10px 0px;
}

.popover-body {
    text-align: center;
    background-color: #ffffff;
    color: #7e7e7e;
    font-size: 16px;
    border: 4px solid #6cadff54;
    border-top: none;
    padding: 20px 25px 10px 25px;

    button {
        background: none;
        border: 2px solid $secondary;
        border-radius: 4px;
        padding: 4px 12px;
        color: $secondary;
        cursor: pointer;
        margin: 12px 6px;

        &:hover {
            background-color: $secondary;
            color: white;
        }

        &:focus {
            outline: none;
        }
    }
}

[v-cloak] > * { display:none }